VITE_SUPABASE_URL=https://fqfcxitcnseyrunglkqy.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_SA3t6uGPtSDPofYVa1XGVQ_qOaVZn7Y
VITE_SUPABASE_APPLICATION_TABLE=application
VITE_SUPABASE_STORAGE_BUCKET=applicatoins
VITE_EMAILJS_PUBLIC_KEY=8P_4KsqS5t0soM0gX
VITE_EMAILJS_SERVICE_ID=service_32losmn
VITE_EMAILJS_ADMIN_TEMPLATE_ID=template_onw8b66
VITE_EMAILJS_USER_TEMPLATE_ID=template_5h069ek
VITE_SMAJ_CONTACT_EMAIL=contact@smaj.org
